// Import page-specific CSS files here.
.main-container-new-booking {
  width: 30%;
  background-color: white;
  margin-left: 450px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 30px;
  background-color: #A799B7;
}
