// Import page-specific CSS files here.
.banner-text-container h1 {
  color: white;
}

div.card a {
  color: #FDCA40;
  font-size: 24px;
  text-decoration: none;
  opacity: 0.8;
}

.show-actions {
  background-color: #542E71;
  opacity: 0.6;
  color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 15px;
  box-sizing: content-box;
}

.show-main-container {
  width: 100%;
  background-color: white;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.show-cards-container {
    flex-wrap: wrap;
    justify-content:space-between;
    width: 50%;
  }

.show-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-right:42px;
  margin-left: 33px;

  h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  }

  p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
  }

}

.show-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-right:42px;
  width: 90%;

  h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  }

  p {
  font-size: 18px;
  opacity: .7;
  margin: 0;
  }

  a {
  color: #FDCA40;
  font-size: 24px;
  text-decoration: none;
  opacity: 0.8;
  }

  img {
    height: 500px;
  }

  .show-card-infos {
  background-color: #F8F9FA;
  height: 190px;
  padding: 16px;

    .title-and-rating {
    display: flex;
    justify-content: space-between;
    }
  }

}

.booking-reviews-container {
  width: 50%;
  margin-left: 20px;
  margin-top: 20px;
}

.review-form {
  padding: 20px;
}

.main-container-new-booking {
  background-color: white;
  background-color: #A799B7;
  width : 75%;
}

.booking-container {
  width: 90%;

  .main-container-new-booking {
    padding: 20px;
  }
}

.review-form {
  width: 80%;
  margin-bottom: 40px;
}

.reviews-container {
  display: flex;
  margin-top: 40px;
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  color: #542E71;
}

.display-reviews {
    width: 100%;
    padding: 20px;
}

.fa-star{
    margin-right: 10px;
    color: #FDCA40;
}

p .reviews {
  margin-right: 15px;
  font-weight: ligther;
  color: black;
}



h2 .reviews {
  margin-right: 15px;
  font-weight: ligther;
  color: #542E71;
}



.form-element {
  width: 90%;
}

label {
  color: black;
}

input.btn-violet {
  text-decoration: none;
  color: #FDCA40;
  background-color: #A799B7;
  border-radius: 4px;
  padding: 10px 24px;
  text-align: center;
  border: none;
}

input.btn-violet:hover{
  color: #FDCA40;
  background-color: #542E71;
}


.btn-violet2 {
  text-decoration: none;
  color: #FDCA40;
  background-color: #542E71;
  border-radius: 4px;
  padding: 10px 24px;
  text-align: center;
  border: none;
}

.btn-violet2:hover{
  color: #542E71;
  background-color: #FDCA40;
}
