.container.main-container-new-hero {
  padding: 40px;
  border: 4px solid #542E71;
  margin: 20px;
  border-radius: 4px;
  background-color: white;
}

.btn-violet {
  margin-top: 40px;
  text-decoration: none;
  color: #FDCA40;
  background-color: #542E71;
  border-radius: 4px;
  padding: 10px 24px;
  text-align: center;
  border: none;
}

.btn-violet:hover{
  color: #542E71;
  background-color: #FDCA40;
}
