.home-container {
  background: white;
}

.container {
  width: 900px;
  margin: auto;
}

.home-banner {
  background-image: url(https://jolstatic.fr/www/captures/4986/0/146600.jpg);
  background-size: cover;
  padding: 250px;
  height: 200px;

  .text-home-container {
  margin: 0px;
  }

  .h1 {
  color: rgb(195,55,100);
  }

  .p {
  color: rgb(195,55,100);
  opacity: .7;
  font-size: 20px;
  }


}

.btn1 {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(29,38,113,1);
  opacity: 0.7;
  padding: 16px 36px;
  margin-top: 50px;
  border-radius: 50px;
  color: rgb(255, 255, 255);
}

.btn1:hover {
    color: rgb(195,55,100);
    text-decoration: none;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.home-card {
  width: 400px;
  background-size: cover;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  background: rgb(195,55,100);
  background: linear-gradient(306deg, rgba(195,55,100,1) 0%, rgba(29,38,113,1) 81%);
  margin-bottom: 60px;


  .img {
    height: 50px;
    width: 30%;
  }

  .p {
    opacity: .5;
  }

  h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito';
  color: white;
}

}



body {
  margin: 0;
  color: rgb(195,55,100);
  font-family: 'Nunito';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito';
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
