/* Principal caracteristics */
body {
  margin: Opx;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100px;
  font-size: 18px;
}

h1 {
  font-family: 'Sigmar One', cursive;
}

h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-weight: bold;
}

/*  Banner */
.banner {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://jolstatic.fr/www/captures/4986/0/146600.jpg);
  padding: 160px;
  display: block;
}

.banner h1 {
  color: #FDCA40;
  font-size: 48px;
}

.banner h2 {
  color: #FDCA40;
  font-size: 24px;
  font-weight: bold;
}

.banner p {
  color: white;
  padding: 20px 0px 20px 0px;
  font-size: 20px;
  opacity: 1;
}

/* Button */
.btn-violet {
  text-decoration: none;
  color: #FDCA40;
  background-color: #542E71;
  border-radius: 4px;
  padding: 10px 24px;
  text-align: center;
  width: max-content;
}

.btn-violet:hover{
  box-shadow: 1px 1px 3px black;
  color: #542E71;
  background-color: #FDCA40;
  text-decoration:none;
}

.align-btn-left ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.align-btn-left  li {
  display: inline;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* Body */
.container {
  width: 900px;
  margin: auto;
}

.negative-margin {
  margin-top: -110px;
}

.container2 {
  width: 1200px;
  margin: auto;
}

/*Re-assurance Banner*/
.white-container {
  background-color: white;
  margin: 10px;
  border-radius: 4px;
}

#reanssurance-banner{
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.purple-icon {
  color: #542E71;
  text-align: center;
}
.purple-icon i {
  font-size: 30px;
}

.icon-display {
  width: 60px;
}

/* Description White Card Div */
.description-div {
  display: flex;
  justify-content: space-evenly;
}

.card-description {
  width:100%;
  margin: auto;
  padding: 20px;
}

.card-description {
  color: #542E71;
}

.container p {
  margin: 20px 0;
  position: relative;
}

/* Other clickables cards */
.transparent-container {
  margin: 10px;
  border-radius: 4px;
}

.transparent-card {
  width: 100%;
  height: 600px;
  padding-top: 500px;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 10px;
  background-size: cover;
}

.card-clikable {
  width:100%;
  margin: auto;
  padding: 150px 60px;
}

.card-clikable p {
 color: white;
 margin-bottom: 30px;
}

.card-clikable h3 {
  font-family: 'Sigmar One', cursive;
  color: #FDCA40;
  font-size: 24px;
}

