// Import page-specific CSS files here.
@import "home";

.main-container {
  width: 80%;
  background-color: white;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 30px;
}

.title-and-actions {
  display:flex;
  justify-content: space-between;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.btn, btn-primary{
  color: white;
}

.main-container-new-hero .cards-container-new-booking{
  width: 50%;
  height : 450px;
  margin-left: 300px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 50px;
  justify-content: center;

  .btn{
    margin-top:20px;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
  }
}



