// Import page-specific CSS files here.
.user-main-container {
  width: 90%;
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px;
  background-color: #542E71;
  border-radius: 4px;
}

.user-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin: auto;
  padding: 40px;
  min-height: calc(100vh - 165px - 76px);

  p {
    color: #542E71;
  }

  a {
    color: #542E71;
    padding: 10px;
    margin-bottom : 10px;
  }

  h2 {
    color: #542E71;
  }
}

.user-intro {
  padding: 50px;
  background-color: #FDCA40;
  border-radius: 3px;
  color: #542E71;
  margin-right: 50px;
  box-shadow: 1px 1px 3px grey;

  img {
    margin-bottom: 20px;
  }
}

.edit-container {
  width: 60%;
}

input.btn-violet {
  text-decoration: none;
  color: #FDCA40;
  background-color: #542E71;
  border-radius: 4px;
  padding: 10px 24px;
  text-align: center;
  border: none;
}

input.btn-violet:hover{
  color: #542E71;
  background-color: #FDCA40;
}

.owner-heroes {
  padding: 50px;
  background-color: white;
  border-radius: 3px;
  margin-right: 50px;
  color: #542E71;
  margin-right: 50px;
  box-shadow: 1px 1px 3px grey;
  width: 40%;
  height: auto;
}

.owner-bookings {
  padding: 50px;
  background-color: white;
  border-radius: 3px;
  margin-right: 50px;
  color: #542E71;
  margin-right: 0px;
  padding-right: 0px;
  box-shadow: 1px 1px 3px grey;
  width: 60%;
  height: auto;
  background-color: #FDCA40;
}

.hero-info {
  display: flex;
  justify-content: left;

  p {
    margin: 10px;
  }
}

label.collection_radio_buttons {
  padding: 5px;
}

a.link.remove {
   color: #C82333;
}

a.delete {
   color: #C82333;
   padding:0px;
   margin-top:10px;
}

.user-bookings {
  padding: 50px;
  background-color: white;
  border-radius: 3px;
  margin-right: 50px;
  color: #542E71;
  margin-right: 50px;
  box-shadow: 1px 1px 3px grey;
  width: 100%;
  height: auto;
}

.user-reviews {
  padding: 50px;
  background-color: #FDCA40;
  border-radius: 3px;
  margin-right: 50px;
  color: #542E71;
  box-shadow: 1px 1px 3px grey;
  width: 100%;
  height: auto;
}

.fa-star{
  margin-right: 10px;
  color: #FDCA40;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

a.btn-violet {
  margin-top: 40px;
  text-decoration: none;
  color: #FDCA40;
  background-color: #542E71;
  border-radius: 4px;
  padding: 10px 24px;
  text-align: center;
  border: none;
  margin-top: 40px;
}

a.btn-violet:hover{
  color: #542E71;
  background-color: #FDCA40;
}

.my-bookings-actions {
  display: flex;
  justify-content: left;
}


a.btn-violet2 {
  text-decoration: none;
  color: #542E71;
  background-color: #FDCA40;
  border-radius: 4px;
  padding: 10px 24px;
  text-align: center;
  border: none;
}

a.btn-violet2:hover{
  color: #542E71;
  background-color: #FDCA40;
}

a {
  color: #FDCA40;
  font-family: 'Sigmar One', cursive;
}

a:hover {
  text-decoration: none;
  color: #A799B7;
}

th {
  padding-right: 20px;
  justify-content-between: center;
  justify-items: center;
  padding-bottom: 8px;
}

p {
  padding: 0px;
  margin: 0px;
  color: #542E71;
}


.column-title {
  font-weight: bold;
  font-size: 18px;
  background-color: #A799B7;
}

h1#booking-info, h1#review-delete {
  padding-bottom: 10px;
}
