<div class="main-container-new-booking">
  <h1>Book a hero</h1>
      <%= simple_form_for(@booking, as: :booking, method: :post, url: hero_bookings_path, remote: true) do |f| %>
    <div class="form-element">
        <%= f.input :beginning, as: :string, required: false,  html5: true, input_html: {class: "datepicker"} %>
        <%= f.input :end, as: :string, required: false, html5: true, input_html: {class: "datepicker"} %>
    </div>
    <input type="submit" name="commit" data-method="post" value="Book a hero" class="btn btn-violet">
  <% end %>
</div>
