<div class="banner">
    <div class="container">
      <h1>Rent a hero to do the work you can't do</h1>
      <a class="btn1" href="/heros">Search your hero</a>
    </div>
  </div>

  <!-- code a "How it works" section -->
  <div class="container">
    <h2 class="text-center">what allows you to do our website</h2>
    <div class="cards">

      <div class="card" id="cardhome">
        <img src="https://blog.refletconsulting.com/wp-content/uploads/2020/11/99560629_superheroesgetty.jpg" alt="">
        <h4>Add Hero</h4>
      </div>

      <div class="card" id="cardhome">
        <img src="https://i0.wp.com/wriiters.com/modules/jmarketplace/product_images/champions-lol.jpg" alt="">
        <h4>Choose your hero</h4>
      </div>

      <div class="card" id="cardhome">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6ilPF3hIbwBlCKiU8081lJHYlgns_qgnoQQ&usqp=CAU" alt="">
        <h4>Book your hero to do your task</h4>
      </div>

    </div>
  </div>