

  <div class="banner">
      <!-- <div class='container'> -->
        <h2>WELCOME IN</h2>
        <h1>HEROESnB</h1>
        <p>Rent a hero to do the work you can't do. You believe in them, so do we. Look now !</p>
        <div class=" align-btn-left">
          <ul class="d-flex justify-content-start">
            <li><a class="btn-violet mr-2" href="/users/sign_in">Sign Up Now</a></li>
            <li><a class="btn-violet" href="/heros">View all your Hero</a></li>
          </ul>

        </div>
  </div>

  <div class="container negative-margin">
    <div class="white-container">
        <div id="reanssurance-banner">
        <div class="purple-icon">
          <i class="fas fa-certificate" id="reassurance-icon"></i>
          <p><strong>Certified Quality Heroes</strong></p>
        </div>
        <div class="purple-icon">
          <i class="fas fa-heart"></i>
          <p><strong>100% Satified Clients</strong></p>
        </div>
        <div class="purple-icon">
          <i class="fas fa-fist-raised"></i>
          <p><strong>Fast & Effective</strong></p>
        </div>
      </div>
    </div>

  </div>

  <div class="container2 container">
    <div class="white-container">
      <div class="card-description d-flex flex-column align-items-center">
        <h2 class="text-center">What's HeroesnB ?</h2>
        <p>HeroesnB is your solution to combine work, booking and heroic activities.
          You are in need of help while moving ? Hulk is here for you !
          You need someone who know how to do business ? Well Batman is also in our catalog.
          Don't make your life dificult, rent a hero.
        </p>
        <a class="btn-violet" href="/heros">Our heroes</a>
      </div>
    </div>

    <div class="transparent-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.refletconsulting.com/wp-content/uploads/2020/11/99560629_superheroesgetty.jpg)">
      <div class="card-clikable">
        <h3><strong>Rent your heroes</strong></h3>
        <p>As an owner you can propose the services of your heroes.</p>
        <a class="btn-violet mr-2" href="/users/sign_in">Sign In</a>
      </div>
    </div>

    <div class="transparent-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.wallpapertip.com/wmimgs/9-93560_superheroes-wallpaper-superhero-comic-wallpaper-hd.jpg)">
      <div class="card-clikable">
        <h3><strong>Book your hero</strong></h3>
        <p>Find a helping hand thanks to a large selection of heroes.</p>
        <a class="btn-violet" href="/heros/:hero_id/bookings">Book Now</a>
      </div>
    </div>

    <div class="transparent-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lasueur.com/wp-content/uploads/2020/02/1.House_Of_M.jpg)">
      <div class="card-clikable">
        <h3><strong>We are coming !</strong></h3>
        <p>Stay updated through your profile page.</p>
        <a class="btn-violet" href="#">Check it</a>
      </div>
    </div>

    <div class="white-container">
      <div class="card-description">
          <h2 class="text-center">Why choose us ?</h2>
          <p>HeroesnB is a service that allows you to rent heroes to help you in your everyday life.
          To make to possible we offered an easy, quick and lovable service.
          Let's make your life a bit more heroic.
        </p>
      </div>
    </div>
  </div>


