
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://fr.web.img5.acsta.net/newsv7/19/07/24/17/36/5687790.jpg);">
  <div class="banner-text-container">
    <h1>Rent a hero to do the work you can't do</h1>
    <br>
    <a class="btn btn-primary" href="/heros">Search for your hero</a>
  </div>
</div>
