.banner {
  background-size: cover;
  background-position: top;
  padding: 150px 0;
/*  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('background.jpg');
  background-size: cover;*/
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.banner-text-container{
  margin-left: 50px;
}

.show-banner {
  background-size: cover;
  background-position: top;
  padding: 150px 0;
/*  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('background.jpg');
  background-size: cover;*/

}
