.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}


#navbar-logo {
  color: #FDCA40;
  font-family: 'Sigmar One';
  font-size: 24px;
}

#navbar-logo:hover {
  text-decoration: none;
  font-family: 'Sigmar One';
  color: #542E71;
}