// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/cards";
@import "components/banner";
@import "pages/index";

.footer {
  text-align: center;
  background-color: gray;
  padding: 60px;
  background-color: rgb(0, 0, 0);
}

.footer a {
  font-size: 30px;
  color:  rgb(125, 125, 125);
}

.footer a:hover {
    color:  rgb(255, 255, 255);
}

.footer p {
  color: #ffffff;
}

.footer .fas {
  color: #fffb00;
}
